{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blog - SIPBC</h1>
    {% for post in posts %}
        <div>
            <h2> {{ post.title }} </h2>
            <p> {{ post.lead }} </p>        
        </div>

        <a class="btn btn-primary" href="{{ path('post_show', {'id':post.id}) }}" role="button">Read full article</a>

        <hr>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}
